.NavContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    padding-inline: 40px;

    & ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;       
    }
}

.listNav li {
      list-style-type: none;
      padding-inline: 15px;
      font-size: 20px;
      font-family: Karla;

      & a {
        text-decoration: none;
        color: #1c1c1c;
      }
}
.logoBox {
    width: 50%;

    & h1 {
        color: #1c1c1c;
        font-size: 1.5rem;
        font-family: Karla;
        font-weight: bold;
    }
}


/* classe active pour les liens  */
 

.active {
    background-color: rgb(216, 141, 29);
    border-radius: 5px;
  padding-inline: 2px;
  padding-block: 2px;
}


@media (max-width:650px){
     .listNav li {
        display: none;
        
     }
}


/* navbar burger */
.container__burger {

        display: none;
        position: fixed;
        top: 0; 
         left: 0;
        width: 100%;
        height: 80vh;
        background-color: #111111e3;
         transform: translateY(-100%); 
        transition: transform 0.3s ease;
        z-index: 40;
      
        &.active {
          transform: translateY(0);
        }
      
}

@media (min-width:650px){
    .container__burger {
        display: none;
    }
}
