
nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    padding-inline: 25px;
    background-color:#4682B4;
    
}


.nav-ico {
   text-decoration: none;
  font-family: Karla;
   font-weight: 200;
   color: #ffffff;
}
.BurgerToggle{
    display: none;

    & img {
        border: none;
        background-color: transparent;

    }
}
.mainNavlinks {
    display: flex;
    align-items: center;
    justify-content: center;
   
  
    width: 100%;
}
.NavLinks {
    padding-inline: 20px;
}
.NavLinks a {
    margin:0;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding-inline: 10px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-family: Karla;
    position: relative;
}

.NavLinks a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 35%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s  ease-out;
}

.NavLinks a:hover::after {
    transform:  scaleX(0.77);
}






/* Media queries  */
 @media (max-width: 900px){
    nav {
        padding: 15px 20px;
        position: relative;
    }

    .nav-ico {
        margin: 0 auto 
    }
    .BurgerToggle{
        display: block;
        cursor: pointer;
        position: relative;
        background: transparent;
        border: none;
        padding-inline: 10px;
    }

    .NavLinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #3f79a8;
        top: 100%;
        left: 0;
        height: 50vh;
        width: 100%;
        border-right: 1px solid #c5c5c6;
        padding:15px 50px 15px 20px;
        transform: translateY(-300%);
        transition: transform 0.3s ease-out;
 
       
    }

    .open {
        transform: translateY(0%)
    }
    
 }
 
