*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-repeat: no-repeat;
    background-size: cover ;
    object-fit: cover;
}


