*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

    font-family: 'Courier New', Courier, monospace;
    background-repeat: repeat;
    background-size: cover ;
    object-fit: cover;
    background-image: repeating-linear-gradient(135deg, rgba(110,110,110, 0.1) 0px, rgba(110,110,110, 0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(254,250,238),rgb(254,250,238));
}


