.containerHs {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-u {
   
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.containerImg img {
    width: auto;
    max-width: 250px;
    border-radius: 20px;
    cursor: pointer;
}
  .card:hover {
    transition-duration: 150ms;
    box-shadow: 0 6px 20px 15px #00000044;
    transform: scale(1.1);
  }




/* style texte rigth  */
.Container-rigth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    margin-right: 50px;
    height: 100%;


}

.titleEmoji {
    padding-left: 20px;
}

.heading-rigth span {
    font-family: Karla;
    color: #5f68b9;
    font-size: 3rem;

}

.heading-rigth img {
    margin-left: 10px;
}

.textBelow {
    margin-left: 25px;
    
    & p {
        font-size: 16px;
        font-family: karla;
        padding-block: 15px;

    }
}

.BoxLink {
    margin-left: 20px;
 
  

    & a {
        padding-inline: 5px;
    }
}

/*style for HeroSectionStack*/
.containerTs{
      display: flex;
      flex-direction: row;
      align-items: center;

    & img {
       width: 25px;
       height: auto;
       margin-top: 5px;
       margin-left: 2px;
    }
}


/*Media queries*/
@media (max-width:430px) {
    .containerImg img {
        width: 250px;
        padding-inline: 10px;
        padding-block: 10px;
    }
    

    .heading-rigth span {
        font-family: Karla;
        color: #1c1c1c;
        font-size: 1.5rem;

    }
    .heading-rigth img {
        width: 31px;
        object-fit: cover;
    }

    .Container-rigth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        width: 100%;
        height: 100%;
        order: 1;
    }
    .containerHs {

        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .BoxLink {
        margin-left: 20px;

      
    
        & a {
            padding-inline: 5px;
        }
    }
    .textBelow {
        margin-left: 25px;
        
    
        & p {
            font-size: 16px;
            font-family: karla;
    
    
        }
    
    }
 
    
}
